# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
venv/
env/
ENV/

# VSCode settings
.vscode/

# Python virtual environment
*.egg-info/
.eggs/
dist/
build/

# Flask instance folder
instance/

# Logs and databases
*.log
*.sqlite3

# Ignore system files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# IDE project files
.idea/

# Ignore large CSV files
movies/credits.csv

